In [1]:
import pandas as pd
import numpy as np

In [2]:
aapl_data = pd.read_csv('HistoricalData_AAPL.csv')

In [3]:
aapl_data.head()

         Date Close/Last     Volume     Open       High        Low
0  09/24/2021    $146.92   53477870  $145.66  $147.4701    $145.56
1  09/23/2021    $146.83   64838170  $146.65    $147.08    $145.64
2  09/22/2021    $145.85   76404340  $144.45    $146.43  $143.7001
3  09/21/2021    $143.43   75833960  $143.93     $144.6    $142.78
4  09/20/2021    $142.94  123478900   $143.8    $144.84    $141.27

In [4]:
aapl_data.shape

(126, 6)

In [5]:
aapl_data.isnull().sum()
# there is no null data

Date          0
Close/Last    0
Volume        0
Open          0
High          0
Low           0
dtype: int64

In [6]:
aapl_data.isna().sum()

Date          0
Close/Last    0
Volume        0
Open          0
High          0
Low           0
dtype: int64

## Checking Data Types

In [7]:
aapl_data.dtypes

Date          object
Close/Last    object
Volume         int64
Open          object
High          object
Low           object
dtype: object

In [8]:
df = pd.DataFrame(aapl_data)

In [9]:
df[:2].head()

         Date Close/Last    Volume     Open       High      Low
0  09/24/2021    $146.92  53477870  $145.66  $147.4701  $145.56
1  09/23/2021    $146.83  64838170  $146.65    $147.08  $145.64

In [10]:
df[['Date','Volume']].head()
# aapl_data[['Date','Volume']].head() # both works

         Date     Volume
0  09/24/2021   53477870
1  09/23/2021   64838170
2  09/22/2021   76404340
3  09/21/2021   75833960
4  09/20/2021  123478900

In [11]:
low_list = []
low_list = list(df['Low'])

In [12]:
import string

In [13]:
for i in low_list:
    i = i.translate(None,"$#")

TypeError: translate() takes exactly one argument (2 given)

In [14]:
print(low_list)
print(type(low_list))
print(len(low_list))

['$145.56', '$145.64', '$143.7001', '$142.78', '$141.27', '$145.76', '$147.221', '$146.37', '$146.91', '$148.75', '$148.7', '$153.95', '$153.975', '$154.39', '$153.09', '$152.4', '$152.34', '$151.29', '$148.61', '$146.83', '$147.51', '$147.8', '$149.15', '$147.89', '$146.78', '$144.5', '$146.15', '$149.09', '$146.47', '$148.27', '$145.84', '$145.53', '$145.3', '$145.52', '$145.63', '$146.17', '$146.28', '$145.18', '$145.25', '$144.11', '$144.58', '$142.54', '$145.55', '$147.7', '$146.92', '$145.81', '$144.63', '$142.96', '$141.67', '$145.88', '$147.09', '$147.68', '$143.63', '$144', '$142.6522', '$140.665', '$142.66', '$140.07', '$137.745', '$135.76', '$135.87', '$134.35', '$133.35', '$132.81', '$132.93', '$133.23', '$131.62', '$129.21', '$130.24', '$129.65', '$128.461', '$129.39', '$127.07', '$126.1', '$125.94', '$126.52', '$126.2101', '$124.8321', '$123.85', '$123.13', '$124.05', '$123.94', '$124.55', '$125.08', '$126.42', '$126.32', '$125.94', '$125.21', '$125.1', '$122.86', '$124.78', '$125.17', '$125.85', '$124.26', '$122.25', '$122.77', '$126.81', '$129.475', '$127.13', '$127.97', '$126.7', '$131.83', '$131.065', '$132.45', '$133.08', '$134.11', '$133.56', '$132.16', '$131.41', '$131.3001', '$131.81', '$133.34', '$133.28', '$133.64', '$131.655', '$131.93', '$130.63', '$129.47', '$128.52', '$125.14', '$125.65', '$123.07', '$122.49', '$121.15', '$118.86', '$120.7299']
<class 'list'>
126

In [39]:
result = []
for i in low_list:
#     result = map(lambda Element: Element.translate(None, "$"), low_list) 
    i = i.translate.

In [40]:
print(result)

<map object at 0x0000019B207E28E0>

In [42]:
SYMBOLS = '${}()[].,:;+-*/&|<>=~1234567890'
def myFunction(exList):
    result = map(lambda Element: Element.translate(None, SYMBOLS).strip(), exList)  
    return result


print(myFunction(low_list))

<map object at 0x0000019B2082B340>

In [44]:
print(low_list[:4])

['$145.56', '$145.64', '$143.7001', '$142.78']

In [57]:
new_low_list = []
for i in low_list:
#     print(type(i))
        i = i.translate(str.maketrans('','','$'))
#         print(i)
    
        new_low_list.append(float(i))
    
#     text = text.translate(str.maketrans('','',string.punctuation))

In [48]:
print(low_list[:5])

['$145.56', '$145.64', '$143.7001', '$142.78', '$141.27']

In [58]:
print(type(new_low_list[1]))

<class 'float'>

In [63]:
for index, row in df.iterrows():
#     print(row['Date'].head(), row['Low'])
#       for i in row['Date']:
# #         print(i)

SyntaxError: unexpected EOF while parsing (<ipython-input-63-61cf2b4c4d0b>, line 4)

In [80]:
count = 0
for index, row in df.iterrows():
    count+=1
#     print(index,row)
#     print(row[index])
#     if type(row[index]) == 'int':
    if isinstance(row[index],int):
#         print("yes")
        continue
        
    else:
#         print("No")
        row[index] = row[index].translate(str.maketrans('','','$'))
    print(row[index])
    if count > 5:
        break

09/24/2021
146.83
143.93
144.84
145.76

In [78]:
df.head()

         Date Close/Last     Volume     Open       High        Low
0  09/24/2021    $146.92   53477870  $145.66  $147.4701    $145.56
1  09/23/2021    $146.83   64838170  $146.65    $147.08    $145.64
2  09/22/2021    $145.85   76404340  $144.45    $146.43  $143.7001
3  09/21/2021    $143.43   75833960  $143.93     $144.6    $142.78
4  09/20/2021    $142.94  123478900   $143.8    $144.84    $141.27

In [15]:
new_Colse_last = []
new_open = []
new_high = []
new_low = []